    body {
    background-color: #FAD9D5;
    }
    
    img{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 0;
    left: 30px;
    }

    .itext{
    padding-left: 180px;
    padding-top: 75px;
    }

    .triangle {
    position: absolute; 
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid rgb(207, 4, 252);
    bottom: 0;
    left: 30%
    }    

    .rectangle {
    position: absolute; 
    height: 200px;
    width: 10%;
    background-color: #7EA6E0;
    right: 20%;
    bottom: 0;
    }

    .triangle-right {
    position: absolute; 
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-right: 150px solid rgba(119, 236, 9, 0.918);
    border-bottom: 75px solid transparent;
    right: 0;
    top: 30%;
    }

    .triangle-leftbottom {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 200px solid rgb(154,199,191);
    border-right: 200px solid transparent;
    left: 0;
    bottom: 0;
    }
    
    .circle {
    position: absolute; 
    height: 100px;
    width: 100px;
    background-color: #0050EF;
    border-radius: 50%;
    bottom: 10%;
    left: 5%;
    }

